html, body {
  height: 100%
}

div#uiArea {
  height: 100%
}

.Project {
	font-weight: bolder;
}

.Activity {
	font-weight: normal;
}

.SubActivity {
	font-weight: normal;
}

.img-attachment {
	height: 100%;
    width: 100%;
    background-color: transparent;
}

.Totals {
	font-weight: bolder;
}

.ModeEdit {
    background-color: #FFCB88 !important;
}

.ModeStatus {
    background-color: #D1F9E2 !important;
}

.ErrorState {
	background-color: #F6CECE !important;
}

.WarningState {
	background-color: #ffff99 !important;
}

.size1 {
	font-size : 1.25rem;
}

html, body {  
    height: 100%  
}  
    
div#content {  
    height: 100%  
}

.noScrollSection section {
	overflow-y: hidden !important;
}

.WarningSelection {
	border: 1px solid #ccd62d;
}
.size2 {
	font-size : 2.5rem;
}
@media (max-width:599px) {
	.size2 {
		font-size : 2rem;
	}
}